@import "colors";

@mixin section{
    color: white;
    backdrop-filter: blur(5px);
    border-radius: 20px;
}

@mixin padding($top, $bottom, $left, $right){
    padding-top: $top;
    padding-bottom: $bottom;
    padding-left: $left;
    padding-right: $right;
}

@mixin size($width, $height){
    width: $width;
    height: $height;
}

body{
    background-image: url(/Images/game.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    background-color: $mainGreen;
}

#header{
    text-align: center;
    font-size: 10vw;

    margin-top: 5vh;
    margin-bottom: 2vh;

    @include section;
}

#options-container{
    label{
        color: white;
        font-size: 3vh;
    }

    @include section;
    @include padding(.5vh, 1vh, 3vw, 3vw);

    width: 100%;

    margin-bottom: 2vh;
}

#selection{
    height: fit-content;

    display: flex;
    justify-content: space-between;

    background-color: white;
    border-radius: 10px;

    @include padding(1.5vh, 1vh, 3vw, 3vw);

    h1{
        color: $grayGreen;
        font-size: 3vh;

        margin: 0;
        align-self: center;
    }

    img{
        @include size(2vh, 2vh);
        align-self: center;
    }
}

#tee-box-select{
    option{
        color: $grayGreen;
        font-size: 2vh;
    }
    option:hover{
        color: $mainGreen;
    }
}

#player-select{
    option{
        color: $grayGreen;
        font-size: 2vh;
    }
    option:hover{
        color: $mainGreen;
    }
}

#scorecard-container{
    width: 100%;
    margin: auto;
}

#totals-container{
    display: flex;
    justify-content: space-around
}

.player-totals-container{
    @include section;
    @include padding(1vh, 0, 2vw, 2vw);

    h1{
        color: white;
        text-align: center;
    }

    .playerTotals{
        display: flex;
        text-align: center;
    }

    .playerScore{
        @include padding(0, 0, .5vw, .5vw);
        border: 2px solid white;
        border-radius: 5px;
    }
}