@import "colors";

@mixin section{
    color: $mainGreen;
    backdrop-filter: blur(5px);
    border-radius: 20px;
}

@mixin padding($top, $bottom, $left, $right){
    padding-top: $top;
    padding-bottom: $bottom;
    padding-left: $left;
    padding-right: $right;
}

body{
    background-image: url(/Images/home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#header h1{
    text-align: center;
    font-size: 400%;

    margin-top: 30vh;
    margin-bottom: 5vh;

    @include section;
}

#options-container{
    font-size: 125%;

    @include section;
    @include padding(.5vh, 1vh, 3vw, 3vw);
}