@import "colors";

@mixin section{
    color: $mainGreen;
    backdrop-filter: blur(5px);
    border-radius: 20px;
}

@mixin padding($top, $bottom, $left, $right){
    padding-top: $top;
    padding-bottom: $bottom;
    padding-left: $left;
    padding-right: $right;
}

@mixin size($width, $height){
    width: $width;
    height: $height;
}

body{
    background-image: url(/Images/home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#header h1{
    text-align: center;
    font-size: 10vw;

    margin-top: 30vh;
    margin-bottom: 5vh;

    @include section;
}

#options-container{
    label{
        color: white;
        font-size: 3vh;
    }

    @include section;
    @include padding(.5vh, 1vh, 3vw, 3vw);
}

#selection{
    height: fit-content;

    display: flex;
    justify-content: space-between;

    background-color: white;
    border-radius: 10px;

    @include padding(1.5vh, 1vh, 3vw, 3vw);

    h1{
        color: $grayGreen;
        font-size: 3vh;

        margin: 0;
        align-self: center;
    }

    img{
        @include size(2vh, 2vh);
        align-self: center;
    }
}

#course-select{
    option{
        color: $grayGreen;
        font-size: 2vh;
    }
    option:hover{
        color: $mainGreen;
    }
}

a{text-decoration: none;}
#goButton{
    margin-top: 3vh;

    display: flex;
    justify-content: center;

    h1{
        width: fit-content;
        margin: 0;
        
        font-size: 3vh;

        color: white;
        background-color: $mainGreen;

        border-radius: 20px;
        border: $mainGreen 2px solid;

        @include padding(1vh, .5vh, 2vw, 2vw);
    } 

    h1:hover{
        background-color: $lighterGreen;
    }
}